table {
    border-collapse: collapse;
    float: center;
}
td{
    border: 2px solid #cecfd5;
    padding: 10px 15px;
}
*{
    font-family:'Noto Serif', serif;
    background-image: linear-gradient(red, yellow);
    color: white;
}
img{
    float:center;
}
header{
    margin: 0;
    Font-size: 32px;
}